/* Style All */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Main Html */
html {
    font-size: 62.5% !important;
}

/* Main Body */
body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: white;
}

.morning {
    background: radial-gradient(royalblue, transparent);
}

.night {
    background: radial-gradient(black, transparent);
}

#background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -999;
    background-size: cover;
    padding: 12rem 6rem 6rem 6rem;
}

@media (max-width: 568px) {
    #background {
        height: 115vh;
        padding: 0;
    }
}

/* Header Style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: clamp(5.867rem, 7vw, 5.333rem);
    background-color: #5f5f5f;
}

header h1 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    padding: 1rem;
    margin: 0;
    color: #5a91d9;
}

.separator {
    height: clamp(5.867rem, 7vw, 5.333rem);
}

main {
    width: 100%;
}

main .forecast-today {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time search search search search search"
        "weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info "
    ;
    width: 100%;
}

@media (max-width:550px) {
    main .forecast-today {
        grid-template-areas:
            ". search search search search search search search search search search search"
            "city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time city-date-time"
            "weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info weather-info "
        ;

    }
}

main .forecast-today>* {
    height: fit-content;
}

.container {
    grid-area: search;
    padding-top: 1rem;
    padding-right: 1rem;
    min-width: 18.5rem;
}

.search-container {
    display: flex;
    align-items: center;
    height: clamp(4rem, 8vw, 4.7rem);
}

.search-container * {
    height: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

#search {
    width: 70%;
    border-radius: 10px 0 0 10px;
    border: solid 1px #4a4a4a;
    padding-left: 1rem;
}

#submit {
    width: 30%;
    border-radius: 0 10px 10px 0;
    background-color: #4a4a4a;
    color: white;
}

#submit:hover {
    background-color: #5a5a5a;
    cursor: pointer;
}

#alert {
    display: none;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #5a91d9;
    border-radius: 20px;
    cursor: pointer;
}

main .city-date-time {
    grid-area: city-date-time;
    padding: 2rem 1rem 0 1rem;

}

main #city {
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-weight: bold;
    text-align: start;
}

main #date-time {
    font-size: clamp(2rem, 3vw, 2rem);
}

main .weather-info {
    display: flex;
    justify-content: start;
    align-items: start;
    grid-area: weather-info;
    min-width: 12rem;
    padding-top: 2rem;
}

main #weather-icon {
    max-width: 8rem;
    width: clamp(4rem, 10vw, 8rem);
}

main #weather-temp {
    font-size: clamp(10rem, 20vw, 15rem);
    font-weight: lighter;
}

main #weather-description {
    font-size: clamp(2.2rem, 5vw, 4rem);
    text-align: start;
    margin-bottom: clamp(2rem, 3vw, 2.7rem);
    align-self: self-end;
}


/* forecast-next-days Section */
.forecast-next-days {
    margin: 2rem;
}

.forecast-next-days>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
}

.forecast-next-days>div div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    background-color: #ffffff33;
    backdrop-filter: blur(10px);
    font-size: clamp(2rem, 5vw, 2.5rem)
}

.forecast-next-days div span {
    /* padding: 1rem;
    border-radius: 20px;
    background-color: #ffffff33;
    backdrop-filter: blur(10px);
    font-size: clamp(2.5rem, 5vw, 2.5rem) */
}